p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--main-bkg);
  color: var(--text-color);
}

:root {
  --main-bkg: #ffffff;
  --main-color: #212121;
  --second-color: #ffffff;
  --text-color: #757575;
  --akcent-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
  --btn-color: #ffffff;
  --main-title-color: #ffffff;
  --title-color: #212121;
  --btn-bkg: #f5f4fa;
  --typical-padding: 94px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;

  /* outline: 2px solid red;
    background-color: tomato; */
}

.section {
  padding-top: var(--typical-padding);
  padding-bottom: var(--typical-padding);
  /* text-align: center; */
}

.centered {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
.main-nav {
  display: flex;
  align-items: center;
}

.header-logo,
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-web {
  color: var(--akcent-color);
}

.header-studio {
  color: var(--main-color);
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--akcent-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mail {
  margin-right: 50px;
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-mail:hover,
.header-mail:focus {
  color: var(--akcent-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--akcent-color);
}

.current {
  color: var(--akcent-color);
}

.heder-line {
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;
}

/* Main-Студия */

.decision {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.decision-title {
  margin-bottom: 30px;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  color: var(--main-title-color);
  text-transform: uppercase;
}

.decision-btn {
  border: 0px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 136px;
  align-items: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-color);
  background-color: var(--akcent-color);
  cursor: pointer;
}

.decision-btn:hover,
.decision-btn:focus {
  background-color: #188ce8;
}

.advantege-title {
  margin-bottom: 10px;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantege-list {
  display: flex;
  flex-wrap: wrap;
}

.advantege-item {
  width: 270px;
  margin-left: 30px;
}

.advantege-item:nth-child(3n) {
  margin-right: 0;
}

.advantege-subtitle {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.advantege-text {
  line-height: 1.71;
  color: var(--text-color);
}

.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-color);
}

.about-title {
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.about-item {
  width: 270px;
  margin-left: 30px;
}

.about-item:nth-child(3n) {
  margin-right: 0;
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  padding-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: 270px;
  margin-left: 30px;
}

.team-item:nth-child(3n) {
  margin-right: 0;
}

.team-subtitle {
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-color);
}

.team-text {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
}

/* Footer */

.footer {
  background-color: #2f303a;
}

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--second-color);
}

.footer-link {
  color: var(--footer-color);
}

.footer-web {
  color: var(--akcent-color);
}

.footer-studio {
  color: var(--main-color);
}

.footer-studio {
  color: var(--second-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--akcent-color);
}

.footer-address:hover,
.footer-address:focus {
  color: var(--akcent-color);
}

/* Main-Портфолио */

.holder-btn {
  border: 0px;
  display: inline-block;
  min-width: 73px;
  padding: 6px 24px;
  border-radius: 4px;
  margin-left: 30px;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--btn-bkg);
  cursor: pointer;
  text-align: center;
}

.holder-btn:hover,
.holder-btn:focus {
  background-color: var(--akcent-color);
  color: var(--second-color);
}

/* .holder-btns:last-child {
  margin-right: 0;
} */

.pictures-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.pictures-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
